<!DOCTYPE html>
<html>
    <head>
        <title>
            Contact Us !
        </title>
        <style>
            .body
        {
            background-color: blue ;
            
        }
    </style>
    </head>

    <body>
        <p>
<h3> General Inquiries: </h3>

Email: info@amphibius.com
<br>
Phone: [+91 8668365739]
        </p>
        <p>
<b> Customer Support: </b>

Need assistance with your account, projects, or any other support-related matter? Our dedicated support team is here to help.
<br>
Email: support@amphibius.com
        </p>

<b> Live Chat: </b>[Chat Now]
<p>
<b>
Business Inquiries:
</b>
For partnership opportunities, collaborations, or business-related matters, please contact our business development team.
<br>
Email: partnerships@amphibius.com
<br>
Phone: [+91 8668365739]
</p>
<p>
<b>
Visit Us:
</b>
<br>Amphibius Tech
<br>203,Riddhi Siddhi Avenue,
<br>Wakad ,Pune - 411057
</p>
<p>
<b>
Social Media:
</b>

Connect with us on social media for updates, announcements, and community discussions.
<br>
Facebook
<br>
Twitter
<br>
LinkedIn
<br>
Instagram
<br></p>
Feedback:

Your opinion matters! Share your thoughts and suggestions to help us enhance your experience on Amphibius Tech.
</p>
<p><b>
Feedback Form: </b>[Submit Feedback]<br>
We aim to respond to all inquiries within 24 hours. Thank you for choosing Amphibius Tech!


</body>
</html>
