<!DOCTYPE html>
<html>
    <head>
        <title>
        Login Page
        </title>

    </head>
    {% include "header.html" %}
    <body style="text-align:center">
        <h3> Amphibius Administration </h3>
        <div style="padding:5px;margin:15px;border-style:solid ;border-width:2px 2px;background-color:grey" >
            <p> <b> Username : </b> </p>
            <p> <input type="text" name="username" placeholder="username"> </p>
            <p> <b> Password : <b> </p>
            <p> <input type="password" name="password" placeholder="password" > </p>
            <p> <input type="submit"></p>

        </div>


    </body>
    {% include "footer.html" %}
    </html>